/* title slide */
.reveal h1 {
    font-size: var(--r-heading3-size); text-shadow: 0 0 1em #fff}
.reveal .titlebox {
    position: absolute; bottom: 0; left: 1em; text-align: left; padding: 1em;
    background-color: rgba(255, 255, 255, 0.667); color: #333}

/* background frames */
section[data-background-iframe],
section[data-background-image] {
    width: 100%; height: 100%}
section[data-background-iframe] h3,
section[data-background-image] h3 {
    position: absolute; bottom: 1em; left: 1em}

/* columns, iframe margins as image */
.multicol{
    display: flex}
.column{
    flex: 1}
.reveal iframe {
    margin: var(--r-block-margin) 0}
